name: realtime

services:
  train:
    image: ghcr.io/credibil/realtime:latest
    env_file: .env
    environment:
      - OTEL_GRPC_URL=http://otelcol:4317
      - OTEL_HTTP_URL=http://otelcol:4318
    ports:
      - 8080:8080
    command: ["/train.wasm"]
    volumes:
      - ./target/wasm32-wasip2/release/train.wasm:/train.wasm
    depends_on:
      - kafka-topics
      - redis
      - otelcol

  kafka-topics:
    extends:
      file: oci://ghcr.io/credibil/compose-resources:latest
      service: kafka-topics

  kafka:
    extends:
      file: oci://ghcr.io/credibil/compose-resources:latest
      service: kafka

  redis:
    extends:
      file: oci://ghcr.io/credibil/compose-resources:latest
      service: redis

include:
  - oci://ghcr.io/credibil/compose-opentelemetry:latest
