<log4net>
  <appender name="PapertrailRemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
    <facility value="Local6" />
    <identity value="%date{yyyy-MM-ddTHH:mm:ss.ffffffzzz} %property{log4net:HostName} %property{log4net:Program} %property{log4net:LogPrefix}" />
    <layout type="log4net.Layout.PatternLayout" value="%level - %message%newline%exception" />
    <remoteAddress value="logs5.papertrailapp.com" />
    <remotePort value="12291" />
  </appender>
  <root>
    <level value="INFO" />
    <appender-ref ref="PapertrailRemoteSyslogAppender" />
  </root>
  <logger name="System.Web.HttpClient">
    <level value="WARN" />
  </logger>
  <logger name="Azure.Storage.Queues">
    <level value="WARN" />
  </logger>
  <logger name="Host.Triggers">
    <level value="WARN" />
  </logger>
  <logger name="Microsoft">
    <level value="WARN" />
  </logger>
  <logger name="Microsoft.Hosting.Lifetime">
    <level value="WARN" />
  </logger>
  <logger name="Host.Results">
    <level value="WARN" />
  </logger>
  <logger name="Microsoft.Azure.WebJobs">
    <level value="WARN" />
  </logger>
  <logger name="Microsoft.Azure.WebJobs.Host">
    <level value="WARN" />
  </logger>
  <logger name="Azure.Core">
    <level value="WARN" />
  </logger>
  <logger name="Azure.Security.KeyVault.Secrets">
    <level value="WARN" />
  </logger>
  <logger name="Azure.Identity">
    <level value="WARN" />
  </logger>
</log4net>