name: Create Patch

on:
  workflow_dispatch:

jobs:
  patch:
    uses: augentic/.github/.github/workflows/patch.yaml@main
    secrets:
      CARGO_REGISTRIES_CREDIBIL_TOKEN: ${{ secrets.CARGO_REGISTRIES_CREDIBIL_TOKEN }}
